{% extends 'homework/child_base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Catch a Pokémon!</h2>
    <div id="pokemon-gallery" class="row mt-4"></div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const maxPokemonId = 151;
      const numberToShow = 20;
      const usedIds = new Set();

      
      function getRandomId() {
        let id;
        do {
          id = Math.floor(Math.random() * maxPokemonId) + 1;
        } while (usedIds.has(id));
        usedIds.add(id);
        return id;
      }

      for (let i = 0; i < numberToShow; i++) {
        const id = getRandomId();
        fetch(`https://pokeapi.co/api/v2/pokemon/${id}`)
          .then(res => res.json())
          .then(pokemon => {
            const image = pokemon.sprites.front_default;
            const name = pokemon.name;
            const card = `
              <div class="col-6 col-md-4 mb-4 text-center">
                <a href="/homework/pokemon/${pokemon.id}/">
                  <img src="${image}" alt="${name}" class="img-fluid" style="max-height: 150px;">
                </a>
              </div>
            `;
            document.getElementById('pokemon-gallery').insertAdjacentHTML('beforeend', card);
          });
      }
    });
  </script>
{% endblock content %}
