<!-- homework/templates/homework/teacher_dashboard.html -->
{% extends 'homework/base.html' %}

{% block title %}
  Teacher Dashboard
{% endblock title %}

{% block content %}
  <h2>Teacher Dashboard</h2>
  

  <ul class="list-group">
    {% for hw in homeworks %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{ hw.date }}</span>
        <span>
          <!-- Maybe place a link to "View Homework Tasks" if you have such a URL -->
          <a href="#" class="btn btn-sm btn-secondary">View Homework Tasks</a>
        </span>
      </li>
    {% endfor %}
  </ul>

{% endblock content %}
